.add-car-button{
  width:100%;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
}
.add-car-button button{
  width:100%;
}
.car-info {
  width: 80%;
  display: inline-block;
}
.title-car{
  width: 80%;
  display: inline-block;
}
.plate-number{
  width: 80%;
  display: inline-block;
}
.type-car{
  width: 80%;
  display: inline-block;
}
.titleAddCar {
  width: 80%;
  display: inline-block;
  position: fixed;
  top: 0;
}
