.authorized-user-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 58px;
}

.authorized-user-button a {
  display: block;
  min-height: 30px;
  line-height: 28px;
  width: 120px;
}

.authorized-user-button:nth-child(2) a {
  height:100%;
  padding-top: 13px;
}
.balance-info {
  width: 100%;
  margin: 40px 0;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}