.list-cars {
  width: 100%;
  margin: 0 auto;
}

.car-item-container{
  display: flex;
  justify-content: space-between;
}

.list-cars .content-list-cars{
  left: 0;
  right: 0;
  margin: 0 auto;
}

.item{
  min-height: 30px;
}

.item h2{
  width: 90%;
  text-align: left;
  margin: 5px 5px 5px 5px;
}
.item p{
  width: 90%;
  text-align: left;
  margin: 5px 5px 5px 5px;
  font-size: 18px;
}

.item .img-delete{
  width: 20px;
  height: 20px;
  margin: 5px 5px 5px 5px;
  float: right;
  cursor: pointer;
}

.item .img-edit{
  width: 20px;
  height: 20px;
  margin: 5px 30px 5px 5px;
  float: right;
  cursor: pointer;
}


.list-cars .titleListCar {
  width: 80%;
  display: inline-block;
  font-size: 16px;
  color: #4b8bf4;
  text-align: left;
  margin: 5px 5px 5px 5px;
}

.list-cars .button-add-car .addCarButton {
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 5px;
}

.add-car-input {
  margin-left: auto;
  margin-right: auto;
  width: 285px;
  display: flex;
  height: 62px;
  padding-top: 14px;
  padding-left: 47px;
  border: 1px solid #484848;
  background: #F8FEF6;
}

.add-car-button {

}

.add-label {
  margin-left: 20px;
  font-weight: bold;
  font-size: 28px;
  padding-top: 6px;
}
