.verification {
  width: 200px;
  margin: 100px auto 0;
}
.verification input {
  margin-bottom: 20px;
  border: 1px solid #4b8bf4;
  border-radius: 3px;
}
.verification button {
  width: 100%;
}
.verification-code {
  width: 80%;
  display: inline-block;
}
.verification-title{
  width: 80%;
  display: inline-block;
  font-size:20px;
  position: absolute;
  top: 10px;
  color: #4b8bf4;
}
