.confirm-pay-parking a {
  width: 300px;
  display: block;
  margin: 30px auto;
}

.balance {
  text-align: justify;
}

.balance-amount {
  position: absolute;
  right: 0;
}

.duration input {
  border: 1px solid #000;
}
