.pay-parking {
  margin: 50px auto;
  width: 50%;
}
.parking-item {
  margin-top: 20px;
  margin-bottom: 10px;
}
.parking-item .address {
  margin-left: 16px;
  padding: 16px 0;
  font-size: 16px;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  color: #444;
}

.pay-parking{
  width: 80%;
}

.pay-parking button {
  width: 100%;
  height: 60px;
  font-size: 18px;
  text-align: center;
  top: 50%;
  margin: 30px auto 0;
}
