.car-info {
  width: 80%;
  margin: 20px auto 0;
}

.car-info .add-car-button button{
  width: 100%;
  height: 60px;
  display: inline-block;
  font-size: 18px;
  margin: 20px auto 0;
}

.car-info input {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  border: 1px solid #0c60ee;
  border-radius: 3px;
  margin: 20px auto 0;
}

.car-info .titleAddCar {
  width: 100%;
  height: 40px;
  display: inline-block;
  font-size: 18px;
  color: #4b8bf4;
  margin: 20px auto 0;
  text-align: center;
}
