.my-cars {
  width: 80%;
  display: inline-block;
}
.my-cars button {
  width: 80%;
  display: inline-block;
}
.list-car {
  width: 200px;
  margin: 100px auto 0;
}
.addCarButton {
  width:20%;
  display: inline-block;
}
.titleListCar {
  width: 80%;
  display: inline-block;
  font-size:18px;
  top: 10px;
}