@import "../../../../../node_modules/reactionic/dist/scss/styles/reactionic";

.content-container{
  display : flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-container .mapContainer{
  width: 100%;
  height: 100%;
}

.main-button {
  position: fixed;
  bottom: 0;
  width: 50%;
}

.main-button-second {
  position: fixed;
  bottom: 0;
  width: 50%;
  left: 50%;
}

.main-button button {
  width: 100%;
}

.main-button-second button {
  width: 100%;
}

.main-navigation a {
  width: 100%;
  display: inline-block;
}

.main-button-third {
  position: relative;
  top: 30px;
}

.nav-blue {
  background: #4b8bf4;
  color: #FFF;
}
.nav-blue h1 {
  color: #FFF;
}
.nav-blue button {
  color: #FFF;
}

.overflow-scroll .has-header {
  top: 0;
}

.button-clear.button-clear {
  color: white;
}

