.parking a {
  display: block;
  wdth: 49px;
  height: 64px;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 10px;
  background: url('./mapIcon.svg');
  top: -64px;
  left: -24px;
}
.parking a:hover {
  color: #FFFFFF;
}