.set-balance {
  width: 80%;
  //height: 100%;
  margin: auto;
}

.set-balance .balance-info {
   height: 40px;
   text-align: center;
   font-size: 22px;
   color: #4b8bf4;
   margin: 40px auto 0;
}

.set-balance .set-balance-title {
  height: 40px;
  font-size: 18px;
  color: #4b8bf4;
  text-align: center;
  margin: 40px auto 0;
}

.set-balance input {
  width: 100%;
  height: 60px;
  display: inline-block;
  font-size: 18px;
  border: 1px solid #4b8bf4;
  border-radius: 3px;
  margin: 20px auto 0;
  text-align: center;
}

.set-balance button {
  width: 100%;
  height: 60px;
  display: inline-block;
  font-size: 18px;
  color: #4b8bf4;
  margin: 20px auto 0;
  line-height: 1.0;
}


