.list-history-parking .item{
    height: 120px;
    width: 100%;
}

.list-history-parking .item .parking{
  font-size: 18px;
}

.list-history-parking .item .date-parking{
  font-size: 18px;
}

.list-history-parking .item .time-parking{
  font-size: 18px;
}

.list-history-parking .item .number-car{
  font-size: 18px;
  white-space: normal;
}