@font-face {
    font-family: "Ionicons";
    src: url("../fonts/ionicons.eot");
    src: url("../fonts/ionicons.ttf");
    src: url("../fonts/ionicons.svg");
    src: url("../fonts/ionicons.woff");
    font-weight: normal;
    font-style: normal;
}