.autorization {
  width: 200px;
  margin: 100px auto 0;
}
.autorization input {
  width: 90%;
  margin: 5px 5px 20px 5px;
  border: 1px solid #4b8bf4;
  border-radius: 3px;
}
.autorization button {
  width: 90%;
  display: inline-block;
  margin: 5px 5px 5px 5px;
}
.first-symbol {
  width:10%;
  display: inline-block;
  vertical-align: -1px;
}
.phone-input {
  width: 90%;
  display: inline-block;
}
.warningAuth {
  width: 80%;
  display: inline-block;
  font-size:12px;
  position: absolute;
  bottom: 5px;
  left:5px;
  margin: 0 auto 5px;
}
