.autorization {
  width: 200px;
  margin: 100px auto 0;
}
.autorization input {
  margin-bottom: 20px;
}
.autorization button {
  width: 100%;
}
.first-symbol {
  width:10%;
  display: inline-block;
}
.phone-input {
  width: 80%;
  display: inline-block;
}