.form-autorization {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.autorization {
  width: 80%;
  height: 70%;
  margin: 120px auto 0;
}
.autorization input {
   width: 90%;
   font-size: 18px;
   margin: 5px 0 20px 0;
   border: 1px solid #4b8bf4;
   border-radius: 3px;
   height: 60px;
 }
.autorization input#phone{
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 18px;
  text-align: center;
  height: 60px;
}
.autorization button {
  width: 100%;
  font-size: 20px;
  display: inline-block;
  margin: 5px 0 5px 0;
  height: 60px;
}
.autorization .first-symbol {
  width: 10%;
  margin-right: 0;
  font-size: 18px;
  display: inline-block;
  vertical-align: -1px;
  height: 60px;
}
.phone-input {
  width: 90%;
  display: inline-block;
  height: 60px;
}
.warningAuth {
  width: 100%;
  display: inline-block;
  font-size:14px;
  text-align: center;
  margin: 0 auto 40px;
}
.warningAuth a{
  text-decoration: underline;
}

.popup {
  font-size: 18px;
  text-align: center;
}

